* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v12_73 {
  width: 100%;
  height: 700px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_74 {
  width: 394px;
  height: 17px;
  background: rgba(209,8,8,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 379px;
  overflow: hidden;
}
.v12_75 {
  width: 394px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 379px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v12_76 {
  width: 367px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 382px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v12_77 {
  width: 106px;
  color: rgba(81,72,72,1);
  position: absolute;
  top: 180px;
  left: 431px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v12_78 {
  width: 15px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 400px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v12_82 {
  width: 517px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 370px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v12_83 {
  width: 347px;
  height: 228px;
  background: url("../images/v12_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 815px;
  overflow: hidden;
}
.v12_84 {
  width: 90px;
  height: 4px;
  background: rgba(209,8,8,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 13px;
  overflow: hidden;
}
.v12_85 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 13px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_86 {
  width: 183px;
  height: 289px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 284px;
  overflow: hidden;
}
.v12_87 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 284px;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_88 {
  width: 183px;
  height: 34px;
  background: rgba(241,250,255,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 284px;
  overflow: hidden;
}
.v12_89 {
  width: 513px;
  height: 185px;
  background: url("../images/v12_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 334px;
  overflow: hidden;
}
.v12_90 {
  width: 183px;
  height: 289px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 85px;
  overflow: hidden;
}
.v12_91 {
  width: 183px;
  height: 289px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 682px;
  overflow: hidden;
}
.v12_92 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 435px;
  left: 695px;
  font-family: Work Sans;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v12_93 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 307px;
  left: 688px;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_94 {
  width: 183px;
  height: 289px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 483px;
  overflow: hidden;
}
.v12_95 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 435px;
  left: 504px;
  font-family: Work Sans;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v12_96 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 484px;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_97 {
  width: 183px;
  height: 34px;
  background: rgba(241,250,255,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 483px;
  overflow: hidden;
}
.v12_98 {
  width: 183px;
  height: 34px;
  background: rgba(241,250,255,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 682px;
  overflow: hidden;
}
.v12_99 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 266px;
  left: 501px;
  font-family: Work Sans;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v12_100 {
  width: 183px;
  height: 34px;
  background: rgba(241,250,255,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 85px;
  overflow: hidden;
}
.v12_101 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 266px;
  left: 95px;
  font-family: Work Sans;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v12_102 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 90px;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_103 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 435px;
  left: 109px;
  font-family: Work Sans;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v12_104 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 435px;
  left: 307px;
  font-family: Work Sans;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v12_105 {
  width: 49px;
  height: 44px;
  background: url("../images/v12_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 152px;
  overflow: hidden;
}
.v12_106 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 265px;
  left: 297px;
  font-family: Work Sans;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v12_107 {
  width: 151px;
  height: 66px;
  background: url("../images/v12_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 297px;
  overflow: hidden;
}
.v12_108 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 263px;
  left: 695px;
  font-family: Work Sans;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v12_109 {
  width: 84px;
  height: 76px;
  background: url("../images/v12_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 348px;
  left: 533px;
  overflow: hidden;
}
.v12_110 {
  width: 74px;
  height: 53px;
  background: url("../images/v12_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 742px;
  overflow: hidden;
}
.v12_111 {
  width: 186px;
  height: 289px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 883px;
  overflow: hidden;
}
.v12_112 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 890px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v12_113 {
  width: 186px;
  height: 34px;
  background: rgba(241,250,255,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 883px;
  overflow: hidden;
}
.v12_114 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 433px;
  left: 904px;
  font-family: Work Sans;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v12_115 {
  width: 164px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 262px;
  left: 894px;
  font-family: Work Sans;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v12_116 {
  width: 76px;
  height: 72px;
  background: url("../images/v12_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 934px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
